* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url(img/bg-img.jpeg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  font-size: 36px;
  font-weight: 600;
  color: #334155;
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.btn {
  background: #bbafad;
  color: #363130;
  border: none;
  border-radius: 12px;
  padding: 4px 12px;
  transition: 0.1s ease-in-out;
}

.btn:hover {
  background: #aea3a1;
}

.btn:active {
  transform: scale(0.98);
}

form {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  padding-right: 8px;
}

label {
  color: #334155;
}

textarea {
  color: #334155;
  padding: 6px;
  margin-bottom: 8px;
  border-radius: 12px;
}

textarea:focus {
  outline: 2px solid #bbafad;
  border: none;
}

.submit-btn {
  align-self: center;
  width: 50%;
}

img {
  width: 184px;
  border-radius: 13px;
}

.hidden {
  display: none;
}

@media (min-width: 1028px) {
  p {
    font-size: 80px;
  }

  .btn {
    padding: 12px 32px;
    font-size: 32px;
    border-radius: 20px;
  }

  .btn-container {
    width: 60%;
    margin-top: 32px;
  }

  label {
    font-size: 32px;
  }

  textarea {
    width: 600px;
    height: 320px;
    font-size: 24px;
    margin: 12px 0 24px 0;
    padding: 12px;
  }

  img {
    width: 400px;
  }
}
