@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url(img/sm-bg.png);
  background-size: cover;
  background-position: center bottom;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 16px;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  font-size: 36px;
  font-weight: 600;
  color: #22293c;
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.btn {
  background: #e4d7c5;
  color: #1b253a;
  font-weight: 500;
  border: none;
  border-radius: 12px;
  padding: 4px 12px;
  transition: 0.1s ease-in-out;
  filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
}

.btn:hover {
  background: #cbbeab;
  transform: scale(1.05);
}

.btn:active {
  transform: scale(0.98);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 18px;
  font-weight: 600;
  color: #22293c;
}

textarea {
  background: #f9f9f9;
  color: #060606;
  padding: 6px;
  margin-bottom: 8px;
  border-radius: 12px;
  filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
}

textarea:focus {
  outline: 2px solid #bbafad;
  border: none;
}

textarea:invalid {
  border: none;
  outline: 2px solid #7f6864;
}

.submit-btn {
  align-self: center;
  width: 50%;
}

img {
  width: 184px;
  border-radius: 13px;
}

.hidden {
  display: none;
}

@media (min-width: 1028px) {
  body {
    background-image: url(img/xl-bg.png);
    background-position: center bottom;
  }

  p {
    font-size: 80px;
  }

  .btn {
    padding: 12px 32px;
    font-size: 32px;
    border-radius: 20px;
  }

  .btn-container {
    width: 60%;
    margin-top: 32px;
  }

  label {
    font-size: 32px;
  }

  textarea {
    width: 600px;
    height: 320px;
    font-size: 24px;
    margin: 12px 0 24px 0;
    padding: 12px;
  }

  img {
    width: 400px;
  }
}
